.category-wrap {
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .category-wrap h3 {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
  }
  .category-wrap h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
  }
  .category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(0,0,0,.3);
  }
  .category-wrap li {margin: 12px 0 0 0px;}
  .category-wrap a {
    text-decoration: none;
    display: block;  
    font-size: 13px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
  }
  .category-wrap a:after {
    content:"\f18e";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
  }
  .category-wrap a:hover {
    background: #80C8A0;
    color: white;
  }
* {
    margin: 0;
    box-sizing: border-box;
 }
 body {
    background: #888888;
    font-family: 'Montserrat Alternates', sans-serif;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 15px;
    cursor: pointer;
 }
 .post-item * {
    transition: .3s linear;
 }
 .item-content {
    background: #646464;
    padding: 40px;
 }
 .item-icon {
    margin-bottom: 20px;
 }
 .item-icon:before {
    content: "";
    font-family: FontAwesome; 
    color: #F09EA3;
    font-size: 50px;
    line-height: 1;
 }
 .item-icon.photo:before {
    content: "\f030";
 }
 .item-icon.video:before {
    content: "\f03d";
 }
 .item-icon.gift:before {
    content: "\f06b";
 }
 .item-icon.group:before {
    content: "\f0c0";
 }
 .item-icon.tree:before {
    content: "\f1bb";
 }
 .item-icon.anchor:before {
    content: "\f13d";
 }
 .post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
    transform: translateY(-8px);
 }
 .item-body {
    color: #F5E2CD;
    font-size: 14px;
 }
 .item-body h3 {
    font-weight: 500;
    margin-bottom: 15px;
    transition-delay: .05s;
 }
 .item-body p {
    transition-delay: .1s;
 }
 .item-footer {
    padding-top: 15px;
 }
 .link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
 }
 .link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: .125rem;
    margin: auto;
    background: #F09EA3;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }
 .link span {
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }
 .post-item:hover .link span {
    transform: translateX(0%);
 }
 .post-item:hover .link:before {
    transform-origin: right center;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }
 * {
   box-sizing: border-box;
}
body {
   background: #F5E9D9;
}
.postcard {
   max-width: 350px;
   margin: 50px auto 0;
   padding: 20px;
   background: #fffdee;
   border: 10px solid transparent;
   border-image: 10 repeating-linear-gradient(135deg, #C42061, #C42061 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px, transparent 30px, transparent 40px);
   font-family: 'Playfair Display';
   color: #605756;
}
.form-row {
   margin-bottom: 15px;
}
.form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
   width: 100%;
   padding: 0 10px;
   line-height: 35px;
   border-width: 0;
   outline: none;
   background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
   background-size: 8px 35px;
   font-family: 'Playfair Display';
}
.form-row textarea {
   background-attachment: local;
   background-repeat: repeat;
   resize: none;
}
.form-row input[type="submit"] {
   padding: 10px 20px;
   margin-top: 10px;
   background: #F67CA5;
   border-width: 0;
   cursor: pointer;
   outline: none;
   font-family: 'Playfair Display';
   font-size: 13px;
   letter-spacing: 1px;
   color: #fffdee;
   text-transform: uppercase;
   transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.form-row input[type=submit]:hover {
   background: #C42061;
}


* {
   box-sizing: border-box;
}
body {
   background: #f69a73;
}
.decor {
   position: relative;
   max-width: 400px;
   margin: 50px auto 0;
   background: white;
   border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #f69a73;
   border-radius: 20px;
}
.form-left-decoration {
   bottom: 60px;
   left: -30px;
}
.form-right-decoration {
   top: 60px;
   right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}
.form-left-decoration:before {
   top: -20px;
}
.form-left-decoration:after {
   top: 20px;
   left: 10px;
}
.form-right-decoration:before {
   top: -20px;
   right: 0;
}
.form-right-decoration:after {
   top: 20px;
   right: 10px;
}
.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
.form-inner {
   padding: 50px;
}
.form-inner input, .form-inner textarea {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #f69a73;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 14px;
}
.form-inner textarea {
   resize: none;
}
.form-inner h3 {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}